<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372093134939-02k4urlkko3voften00fjbl76fr8b4gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372093134939-02k4urlkko3voften00fjbl76fr8b4gl</string>
	<key>API_KEY</key>
	<string>AIzaSyBXVw_7Te8OToRAKw-bl48egfXIvBmJpO4</string>
	<key>GCM_SENDER_ID</key>
	<string>372093134939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenPeepsApp</string>
	<key>PROJECT_ID</key>
	<string>green-peeps</string>
	<key>STORAGE_BUCKET</key>
	<string>green-peeps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372093134939:ios:a67b788e2584a9621a777e</string>
</dict>
</plist>